	<div class="row" id="content">
		<div class="container">
			<div class="col s12 m12" style="margin:0 auto">
				<div id="art-container">
					<div class="article-body">
						<div class="article-content">
							{{content}}
						</div>
					</div>
					{{ghost_foot}}
				</div>
			</div>
		</div>
	</div>
