<meta charset="UTF-8" />
<meta name="theme-color" content="#1E90FF" />
<link rel="shortcut icon" href="https://moyu233-1251600285.file.myqcloud.com/favicon.ico" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="title" content="{{@blog.title}}" />
<meta name="description" content="{{@blog.description}}" />
<link rel="stylesheet" type="text/css" href="https://moyu233-1251600285.file.myqcloud.com/assets/css/style.css" />
<link rel="stylesheet" type="text/css" href="https://moyu233-1251600285.file.myqcloud.com/css/font-awesome.css" />
<title>{{title}}</title>