	<div class="banner" style="background-image:url(https://o55ydpgd4.qnssl.com/assets/images/banner.jpg);height:700px">
		<div class="banner-text">
			<div class="banner-container">
				<div class="banner-border-top">
				</div>
				<h1 id="big-title">{{@blog.title}}</h1>
				<h3 id="big-description">{{@blog.description}}</h3>
				<div class="banner-border-bottom">
				</div>
			</div>
		</div>
		<a href="#content" class="go-down scroll"><i class="fa fa-angle-double-down"></i></a>
	</div>
	<div id="divider">
	</div>
