<!DOCTYPE html>
{{> "banner"}}
<html>
<head>
{{> "head"}}
{{ghost_head}}
</head>
<body>
{{> "loading"}}
{{> "menu"}}
<div class="pjax-container">
{{> "pjax1"}}
{{> "postlop"}}
{{> "footer"}}
<!--
{{ghost_foot}}
-->
{{> "script"}}
</div>
</body>
</html>