<!DOCTYPE html>
{{> "banner"}}
<html>
<head>
{{> "head"}}
<title>{{@blog.title}}</title>
{{ghost_head}}
</head>
<body>
{{> "loading"}}
{{> "menu"}}
<div class="pjax-container">
{{> "pjax1"}}
{{> "postlop"}}
{{> "footer"}}
</body>
</html>