<!DOCTYPE html>
{{> "banner"}}
<html>
<head>
{{> "head"}}
<title>{{@blog.title}}</title>
{{ghost_head}}
</head>
<body>
{{> "loading"}}
{{> "menu"}}
<div class="pjax-container">
{{> "pjax1"}}
{{> "postlop"}}
	<div class="footer">
		<div class="row">
			<div class="container">
				<div class="col s12 m5">
					<div class="copyright-left">
						<p style="font-size:14px">
							&copy; 2016-2017 {{@blog.title}} 版权所有
						</p>
						<p style="font-size:14px">
							<span>许可协议</span>:<i class="fa fa-creative-commons"></i><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC BY-NC-SA 4.0 International" target="_blank">"署名-非商用-相同方式共享 4.0"</a>
						</p>
					</div>
				</div>
				<div class="col s12 m7">
					<div class="copyright-right" style="text-align:right;font-size:14px">
						<p>
							Proudly Published with <a href="https://ghost.org/" rel="nofollow" target="_blank">Ghost</a>
						</p>
						<p>
							Theme SnowFallen &amp; designed by <a href="http://www.imim.pw" target="_blank">Kirainmoe</a> with ♥ &amp; <a href="https://github.com/moeyi/snowfallen">Rebuilt</a> by <a href="https://moeyi.xyz/">Moeyi</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://moeyi.xyz/assets/js/jquery-2.2.0.min.js"></script>
	<script src="https://moeyi.xyz/assets/js/highlight.min.js"></script>
	<script src="https://moeyi.xyz/assets/js/depend.js"></script>
	<script src="https://moeyi.xyz/assets/js/index.js"></script>

	<style>
body{height:200px}
	</style>
	<script type="text/javascript">hljs.initHighlightingOnLoad(),setTimeout("loadFinish()",1e3),$(".small-mode").removeClass("small-mode").addClass("fullscreen-mode"),$("[class=article-background]").each(function(s){s++,10==s&&(s=1),$(this).css("background-image","url(https://o55ydpgd4.qnssl.com/assets/images/".split("?")[0]+s+".jpg)")});</script>
</div>
</body>
</html>