<!DOCTYPE html>
<html>
<!--
                                                                                                  
                                                                                                  
                                                                                    7MBMBL        
                                                                                    BBMBM:        
                                                                                   OBMBM,         
                                                                                   BMBM.          
                                                                                  OMBM,           
                                                   :uBBBR               s0H;     .MBM.            
                                                ;DBMBMBMB,             MBMBM     RBM,             
                                             :MBMBMBMBBB:             MBMBB     .BM:              
                                           7BMBH sBMBMB,            :MBBBM      BM:               
                                         UMBM,   BBBMB:            2MBBBM       r.                
                                       vBMO     BMBMBi            BBBBBM                  rEBMBR, 
                                       uS      BMBMBr           :BMBMBM                .RBMBMBMBM 
                                              BMBMB7           SBMBMBB.               FMB    :BMB 
                                             BMBMBs          :MBMBMBB.               BMB       ,  
                                            BMBMBF          EMBMBMBM,               FMBM          
                                           MBBMBX         iBMBMBBBM:                MBBBS         
                                          OMBMB0        .MBM:uBBBB;                 OMBMB:        
                                         DMBMBM        RBB7 ;BMBM;                   BMBMB        
                                        ZMBMBB       DBM1  ;BMBMr      r.            cBMBMS       
                                       1MBMBM      WMBS   ;BBBMc     sBB:             RBMBD       
                                      JMBMBM    :MBBK    ;BMBMc    JBMB.               BBMc       
                                     rBBMBB   iBMBS     ,BMBMS  .RMBM:                 BMB        
                                    ;MBBBMBZBMBMJ      .BBBMBZUBBMR.        .MBM:    .BMZ         
                                   :MBMBMBMBMB;       .BMBBBMBMB7           RBBBMBFPMBB,          
                                  .MBMBMBMBX.         BMBBBBM7               RBMBBBM0.            
                                  MBMB:;:.             i;:                      .                 
                                 BBMO                                                             
                                MBMO                                                              
                               MBBB                                                               
                              MBBB                                                                
                             RBMB;                                                                
                            WBMBR                                                                 
                           EBBBM.                                                                 
                          UBMBMB                                                                  
                         2BMBBB3                                                                  
                        uBMBMBZ                                                                   
                       LBBBMB;                                                                    
                       :GSr.                                                                      
                                                                                                                                                
                                                                                                                                                      
                                                                             SH.              ,:            i                                         
                             .B3        .OBM       v:.     .RR2      SxUE; :BK   7BcMM:      MBMB7i.       KBO.        :,::                           
                             BMBM :Bi   1BMBu     :BMBMX   GMBM.   :KMMBMBSB:    PMBMBJ      RMBB:,B;     MBMBM   ,cuBMBu3i.                          
                            LUBMBRBM.  .BMBM,    OBMBBB7   ,BMBr   ,. FMBMB    cJ JMBK      iRMRBMBM1:.   xBBM7  LEMBMBcE:                            
                           :WcMBM7     :MBBBL  JMOMBMB:    OMMBB    1;:BMB     R rBBMB7 ;BBBxZMBM  UMBRr xMBMBx  L EMBOUGBP.                          
                            1JDMS       :MBMB  UX;LMBM     BBMBMB   .USGBM     MBMBMBBBW;.:B  BMZ      :B3 MBM1   iG;ZBB                              
                              ZBM        SMBU      7BB      MBMBM     ;RMR    ,H:  WMB.    .7GBBO       .;:BMR       :MB                              
                            rMBMBM,     sMBMB;     2BM7    KBMBW     RBMBMD       XMBME     UMBMBO        SMBMBr    :DBMP                             
                            rBMKMB:     MBMBM;   GMBMBMR.  MMBBL     :MODBJ      :MBBBM.    LBO7MB       :MBRBBZ   .MBMBMu                            
                             LB:B:      1BvM7  ,SMBMRMB     BM,       MMBM         MBMr      MB GM        KM.MW     FMBM:                             
                              WBZ       K3 B   .  PBMBB     MO         BM1          WB       .M  B:       7O B     .0PM:                              
                             .B:B      :B FU       7BMM     .MP        MJ           BF       .B  :B:      B:.M       :R                               
                             Br H1     BS Mr         ,       BBi       Bx          BM,       .M,  7B     iM iB       Or                               
                            :M  :W     M  K;                 O:M:       B         BsX         OL   B.    Oi Kr      :O                                
                            Mc   B.   7B  ME                 B JM       OO       2B M.        JB   B:   ;B  M;      ZU                                
                           .G    F7  ,B.  ;Mu              .DD rr       ,M,      ,  KM:       :M   :    Oi  cM.     K7                                
                         ..    .     ;   .  .              .:  .         :        .  ;.        :    .        ..       ..                              
                        ... .       ,  .,           .        . :.       :         ::.,         .:   :.     .. . .       . ...                         
                      .:.          :  :.         .:::.      ::.        .,          .,;.         :,   ;       .....         ..,..                      
                . ..,..           ,..:       ...::::.      ,:.         :             ,;          :. ,:          .....         .,:,,..                 
                ...             .::::        .,,,,,,      ,:           :.             ::         .: .:           .......           ...                
            .....              .:,,.          ..,.       .:,          .,:            ,:::        .:,.,:             ....            ..... .           
                             ..,..           ..,.       .,.,..        ,...           ,,,,:        ...,..             .....               .            
                            ...          ......         .....        .,....       . . ..,.      . :  ...      .         . .                           
                           . .             .....       ......        .....         ..,......     . . ..... ...                                        
                                            . .         . .           ...             .....           .....                                           
                                                         .           . ...             . .                                                            
                                                                    .   .                                                                             
                                                                                                                                                      
-->
<head>
<meta charset="UTF-8">
<meta name="theme-color" content="#1E90FF">
<link rel="shortcut icon" href="https://blog.tse.moe/assets/images/favicon.ico?v=a279103c00">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta name="renderer" content="webkit">
<link rel="stylesheet" type="text/css" href="https://blog.tse.moe/assets/css/style.css?v=a279103c00">
<link rel="stylesheet" type="text/css" href="https://blog.tse.moe/assets/fonts/font-awesome.min.css?v=a279103c00">
<link rel="stylesheet" type="text/css" href="https://blog.tse.moe/assets/fonts/font-awesome.css?v=a279103c00">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="https://dn-iidream.qbox.me/snowfallen-style-ie.css">
<![endif]--><!--[if lt IE 8]>
<link rel="stylesheet" type="text/css" href="https://dn-iidream.qbox.me/snowfallen-style-ie7.css">
<![endif]-->
<title>大概要消失一个多月了_ (:3」∠)_</title>
<meta name="description" content="">
<link rel="canonical" href="https://blog.tse.moe/da-gai-yao-xiao-shi-yi-ge-duo-yue-liao-_-3-_/">
<meta name="referrer" content="no-referrer-when-downgrade">
<link rel="amphtml" href="https://blog.tse.moe/da-gai-yao-xiao-shi-yi-ge-duo-yue-liao-_-3-_/amp/">
<meta property="og:site_name" content="Tsez&#x27;s Blog">
<meta property="og:type" content="article">
<meta property="og:title" content="大概要消失一个多月了_ (:3」∠)_">
<meta property="og:description" content="种种原因接下来个一个多月可能没时间打理博客了貌似已经有一个月没管了">
<meta property="og:url" content="https://blog.tse.moe/da-gai-yao-xiao-shi-yi-ge-duo-yue-liao-_-3-_/">
<meta property="article:published_time" content="2016-05-22T13:51:18.000Z">
<meta property="article:modified_time" content="2016-08-11T03:22:13.000Z">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="大概要消失一个多月了_ (:3」∠)_">
<meta name="twitter:description" content="种种原因接下来个一个多月可能没时间打理博客了貌似已经有一个月没管了">
<meta name="twitter:url" content="https://blog.tse.moe/da-gai-yao-xiao-shi-yi-ge-duo-yue-liao-_-3-_/">
<meta name="twitter:label1" content="Written by">
<meta name="twitter:data1" content="Tsez">
<meta name="twitter:site" content="@tsezzz">
<script type="application/ld+json">{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "Tsez&#x27;s Blog",
        "logo": "https://blog.tse.moe/content/images/2016/04/photo_2016-03-04_21-30-115.jpg"
    },
    "author": {
        "@type": "Person",
        "name": "Tsez",
        "image": {
            "@type": "ImageObject",
            "url": "https://blog.tse.moe/content/images/2016/03/photo_2016-03-04_21-30-115.jpg",
            "width": 720,
            "height": 720
        },
        "url": "https://blog.tse.moe/author/tsez/",
        "sameAs": [],
        "description": "中二病快要毕业了_ (:3」∠)_"
    },
    "headline": "大概要消失一个多月了_ (:3」∠)_",
    "url": "https://blog.tse.moe/da-gai-yao-xiao-shi-yi-ge-duo-yue-liao-_-3-_/",
    "datePublished": "2016-05-22T13:51:18.000Z",
    "dateModified": "2016-08-11T03:22:13.000Z",
    "description": "种种原因接下来个一个多月可能没时间打理博客了貌似已经有一个月没管了",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://blog.tse.moe"
    }
}</script>
<script type="text/javascript" src="https://blog.tse.moe/shared/ghost-url.min.js?v=a279103c00"></script>
<script type="text/javascript">ghost.init({clientId:"ghost-frontend",clientSecret:"88b7ccc0b780"});</script>
<meta name="generator" content="Ghost 0.11">
<link rel="alternate" type="application/rss+xml" title="Tsez&#x27;s Blog" href="https://blog.tse.moe/rss/">
</head>
<body>
<div id="loading" style="width:100%;height:100%;position:fixed;background-color:#fff;z-index:807;top:0;opacity:.9">
	<div id="contain">
		<div class="wrap" id="wrap1">
			<div class="part" id="part1">
			</div>
		</div>
		<div class="wrap" id="wrap2">
			<div class="part" id="part2">
			</div>
		</div>
		<div class="wrap" id="wrap3">
			<div class="part" id="part3">
			</div>
		</div>
		<div class="wrap" id="wrap4">
			<div class="part" id="part4">
			</div>
		</div>
	</div>
	<div style="text-align:center;clear:both">
	</div>
</div>
<div id="head-menu" class="banner-notfade">
	<div id="menu-container" style="position:relative">
		<div class="right">
			<a class="link" href="javascript:;" id="display-search"><i class="fa fa-search"></i></a>
			<form role="search" method="get" id="search" action="https://www.google.com/search">
				<input type="hidden" name="sitesearch" value="https://blog.tse.moe"><input type="text" placeholder="输入后按回车搜索喵~" name="q" size="31" class="searcher" maxlength="255" value="" id="search-input">
			</form>
			<a class="link" href="javascript:;" id="display-links"><i class="fa fa-navicon"></i></a>
			<div id="header-nav">
				<a class="link line-link" href="https://blog.tse.moe/guestbook" title="Guestbook"><i class="fa fa-envelope"></i></a><a class="link line-link" href="https://blog.tse.moe/friends" title="Friends"><i class="fa fa-users"></i></a><a class="link line-link" href="https://blog.tse.moe/project" title="Project"><i class="fa fa-book"></i></a><a class="link line-link" href="https://blog.tse.moe/rss/" title="Rss"><i class="fa fa-rss"></i></a><a class="link line-link" href="https://blog.tse.moe/about" title="About"><i class="fa fa-credit-card"></i></a>
			</div>
		</div>
		<div class="left">
			<a class="title" href="https://blog.tse.moe"><i class="fa fa-home"></i> Tsez&#x27;s Blog</a>
		</div>
		<div class="to-top" style="display:inline-block;z-index:0;position:absolute;left:0;width:100%;height:100%">
			<p style="text-align:center">
			</p>
		</div>
	</div>
</div>
<div class="pjax-container">
	<div class="banner" style="background-image:url(https://o55ydpgd4.qnssl.com/assets/images/banner.jpg);height:700px">
		<div class="banner-text">
			<div class="banner-container">
				<div class="banner-border-top">
				</div>
				<h1 id="big-title">大概要消失一个多月了_ (:3」∠)_</h1>
				<h3 id="big-description"><b>南</b>国笙歌<b>琴</b>弦乐，瑞冬海棠<b>梨</b>花雪</h3>
				<div class="banner-border-bottom">
				</div>
			</div>
		</div>
		<a href="#content" class="go-down scroll"><i class="fa fa-angle-double-down"></i></a>
	</div>
	<div id="divider">
	</div>
	<div class="row" id="content">
		<div class="container">
			<div class="col s12 m12" style="margin:0 auto">
				<div id="art-container">
					<div class="article-body">
						<div class="article-content">
							<p>
								种种原因接下来个一个多月可能没时间打理博客了<del>貌似已经有一个月没管了</del>
							</p>
						</div>
						<div class="article-footer">
							<p class="article-footer-info">
								<span><i class="fa fa-user"></i> Tsez</span><span><i class="fa fa-eye"></i> 233 Views</span><span><i class="fa fa-tags"></i></span><span><i class="fa fa-comment"></i> No comment</span>
							</p>
						</div>
					</div>
					<div id="disqus_thread">
					</div>
					<script>!function(){var e=document,t=e.createElement("script");t.src="//moeloli.disqus.com/embed.js",t.addEventListener("error",function(){document.getElementById("disqus_thread").innerHTML='<p class="disqus-error">加载 Disqus 评论出错，请确认您已连接至<b>国际</b>互联网。</p>'}),t.setAttribute("data-timestamp",+new Date),(e.head||e.body).appendChild(t)}();</script>
					<noscript>
					Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
					</noscript>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="row">
			<div class="container">
				<div class="col s12 m5">
					<div class="copyright-left">
						<p style="font-size:14px">
							&copy; 2016 Tsez&#x27;s Blog 版权所有
						</p>
						<p style="font-size:14px">
							<span>许可协议</span>:<i class="fa fa-creative-commons"></i><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="CC BY-NC-SA 4.0 International" target="_blank">"署名-非商用-相同方式共享 4.0"</a>
						</p>
						<a href="https://github.com/tsezz" rel="nofollow"><i class="fa fa-github"></i></a><a href="https://plus.google.com/u/0/+GlistenTse/" rel="nofollow"><i class="fa fa-google-plus"></i></a><a href="https://twitter.com/tsezzz" rel="nofollow"><i class="fa fa-twitter"></i></a><a href="mailto:xlaptx@gmail.com" rel="nofollow"><i class="fa fa-envelope"></i></a><a href="https://v2ex.com/member/Glisten" rel="nofollow"><i class="fa fa-vimeo"></i></a>
					</div>
				</div>
				<div class="col s12 m7">
					<div class="copyright-right" style="text-align:right;font-size:14px">
						<p>
							<div id="hitokoto">
								Please wait...
							</div>
						</p>
						<p>
							Proudly Published with <a href="https://ghost.org/" rel="nofollow" target="_blank">Ghost</a>
						</p>
						<p>
							Theme SnowFallen &amp; designed by <a href="http://www.imim.pw" target="_blank">Kirainmoe</a> with ♥
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--[if lt IE 9]>
	<div class="less-than-ie9">
		<p class="ie9-p">
			PS: 由于您当前使用的浏览器（IE9以下）无法兼容HTML5标准，将导致部分本站内容无法显示。请升级您的浏览器喵。
		</p>
		<div class="why-i-need-to-update" style="text-align:left;">
			<p>
				如果您继续使用IE9以下版本浏览本站，会导致：<br>
				1) 部分特效无法正常加载 <br>
				2) 部分内容无法正常显示或错位 <br>
				3)PJAX无法使用，且YumePlayer将不会被加载 <br>
			</p>
		</div>
	</div>
	<![endif]-->
	<script src="https://blog.tse.moe/assets/js/jquery-2.2.0.min.js?v=a279103c00"></script>
	<script src="https://blog.tse.moe/assets/js/highlight.min.js?v=a279103c00"></script>
	<script src="https://blog.tse.moe/assets/js/depend.js?v=a279103c00"></script>
	<script src="https://blog.tse.moe/assets/js/index.js?v=a279103c00"></script>
	<script src="https://blog.tse.moe/assets/js/moeback.js?v=a279103c00"></script>
	<style>
body{height:200px}
	</style>
	<script>!function(e,a,t,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=a.createElement(t),s=a.getElementsByTagName(t)[0],o.async=1,o.src=n,s.parentNode.insertBefore(o,s)}(window,document,"script","//www.google-analytics.com/analytics.js","ga"),ga("create","UA-75514851-1","auto"),ga("send","pageview");</script>
	<script>function getHitokoto(){$.ajax({url:"https://hitokoto.tse.moe/?encode=jsc",dataType:"jsonp",async:!0,jsonp:"callback",jsonpCallback:"hitokoto",success:function(o){$("#hitokoto").html("<p>"+o.hitokoto+"<p>")},error:function(){$("#hitokoto").html("<p> 读取数据失败了的说…… _(:з」∠)_<p> ")}})}setInterval("getHitokoto()",5555);</script>
	<script type="text/javascript">hljs.initHighlightingOnLoad(),setTimeout("loadFinish()",1e3),$(".small-mode").removeClass("small-mode").addClass("fullscreen-mode"),$("[class=article-background]").each(function(s){s++,10==s&&(s=1),$(this).css("background-image","url(https://o55ydpgd4.qnssl.com/assets/images/".split("?")[0]+s+".jpg)")});</script>
	<script src="//loli.disqus.com/count.js" async></script>
</div>
</body>
</html>
