<!DOCTYPE html>
{{> "banner"}}
{{#post}}
<html>
<head>
{{> "head"}}
{{ghost_head}}
</head>
<body>
{{> "loading"}}
{{> "menu"}}
<div class="pjax-container">
{{> "pjax1"}}
{{> "article"}}
{{> "footer"}}
{{ghost_foot}}
{{> "script"}}
</div>
</body>
</html>
{{/post}}
